In [1]:
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
df = pd.read_csv('loan.csv')

In [3]:
df.head(5)

,Default,Checking_amount,Term,Credit_score,Gender,Marital_status,Car_loan,Personal_loan,Home_loan,Education_loan,Emp_status,Amount,Saving_amount,Emp_duration,Age,No_of_credit_acc
0,0,988,15,796,Female,Single,1,0,0,0,employed,1536,3455,12,38,1
1,0,458,15,813,Female,Single,1,0,0,0,employed,947,3600,25,36,1
2,0,158,14,756,Female,Single,0,1,0,0,employed,1678,3093,43,34,1
3,1,300,25,737,Female,Single,0,0,0,1,employed,1804,2449,0,29,1
4,1,63,24,662,Female,Single,0,0,0,1,unemployed,1184,2867,4,30,1

In [4]:
## Are the assumptions met?
## Sample size? 1000
## Outliers? Yes
df.describe()

,Default,Checking_amount,Term,Credit_score,Car_loan,Personal_loan,Home_loan,Education_loan,Amount,Saving_amount,Emp_duration,Age,No_of_credit_acc
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.300000,362.411000,17.815000,760.475000,0.353000,0.474000,0.056000,0.112000,1218.681000,3179.266000,49.389000,31.209000,2.546000
std,0.458487,300.901202,3.240567,77.556214,0.478142,0.499573,0.230037,0.315524,305.753699,339.549751,37.759521,4.093174,1.652457
min,0.000000,-665.000000,9.000000,376.000000,0.000000,0.000000,0.000000,0.000000,244.000000,2082.000000,0.000000,18.000000,1.000000
25%,0.000000,164.750000,16.000000,725.750000,0.000000,0.000000,0.000000,0.000000,1016.000000,2951.000000,15.000000,29.000000,1.000000
50%,0.000000,351.500000,18.000000,770.500000,0.000000,0.000000,0.000000,0.000000,1225.500000,3203.000000,41.000000,32.000000,2.000000
75%,1.000000,553.500000,20.000000,812.000000,1.000000,1.000000,0.000000,0.000000,1419.750000,3402.250000,85.000000,34.000000,3.000000
max,1.000000,1319.000000,27.000000,1029.000000,1.000000,1.000000,1.000000,1.000000,2362.000000,4108.000000,120.000000,42.000000,9.000000

# This is the Sklearn Method

In [ ]:
X = df[['Credit_score']]
y = df['Default']
model = LogisticRegression().fit(X,y)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
model.predict([[500]])[0]

In [ ]:
model.predict_proba([[500]])

# This is the Stats Models Method

In [ ]:
## Let's start with a simple logistic model with Credit Score as our X and Default as the Y
X = df[['Credit_score']]
X = sm.add_constant(X)
y = df[['Default']]

In [ ]:
model = sm.Logit(y, X).fit()
y_pred = model.predict(X)
resid = y - y_pred
print(model.summary())

In [ ]:
plt.scatter(df['Credit_score'],y_pred)
plt.axhline(y=0, color='r', linestyle='-')
plt.axhline(y=1, color='r', linestyle='-')
plt.show()

In [ ]:
model.predict([[1,500]])

# Let's Create a Full Logistic Regression Model

First we want to transform our categorical variables into dummy variables

In [5]:
df['female']=pd.get_dummies(df['Gender'])['Female']
df['married']=pd.get_dummies(df['Marital_status '])['Married']
df['employed']=pd.get_dummies(df['Emp_status'])['employed']

In [6]:
df.head(5)

,Default,Checking_amount,Term,Credit_score,Gender,Marital_status,Car_loan,Personal_loan,Home_loan,Education_loan,Emp_status,Amount,Saving_amount,Emp_duration,Age,No_of_credit_acc,female,married,employed
0,0,988,15,796,Female,Single,1,0,0,0,employed,1536,3455,12,38,1,1,0,1
1,0,458,15,813,Female,Single,1,0,0,0,employed,947,3600,25,36,1,1,0,1
2,0,158,14,756,Female,Single,0,1,0,0,employed,1678,3093,43,34,1,1,0,1
3,1,300,25,737,Female,Single,0,0,0,1,employed,1804,2449,0,29,1,1,0,1
4,1,63,24,662,Female,Single,0,0,0,1,unemployed,1184,2867,4,30,1,1,0,0

In [7]:
df.describe()

,Default,Checking_amount,Term,Credit_score,Car_loan,Personal_loan,Home_loan,Education_loan,Amount,Saving_amount,Emp_duration,Age,No_of_credit_acc,female,married,employed
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,0.300000,362.411000,17.815000,760.475000,0.353000,0.474000,0.056000,0.112000,1218.681000,3179.266000,49.389000,31.209000,2.546000,0.310000,0.54800,0.308000
std,0.458487,300.901202,3.240567,77.556214,0.478142,0.499573,0.230037,0.315524,305.753699,339.549751,37.759521,4.093174,1.652457,0.462725,0.49794,0.461898
min,0.000000,-665.000000,9.000000,376.000000,0.000000,0.000000,0.000000,0.000000,244.000000,2082.000000,0.000000,18.000000,1.000000,0.000000,0.00000,0.000000
25%,0.000000,164.750000,16.000000,725.750000,0.000000,0.000000,0.000000,0.000000,1016.000000,2951.000000,15.000000,29.000000,1.000000,0.000000,0.00000,0.000000
50%,0.000000,351.500000,18.000000,770.500000,0.000000,0.000000,0.000000,0.000000,1225.500000,3203.000000,41.000000,32.000000,2.000000,0.000000,1.00000,0.000000
75%,1.000000,553.500000,20.000000,812.000000,1.000000,1.000000,0.000000,0.000000,1419.750000,3402.250000,85.000000,34.000000,3.000000,1.000000,1.00000,1.000000
max,1.000000,1319.000000,27.000000,1029.000000,1.000000,1.000000,1.000000,1.000000,2362.000000,4108.000000,120.000000,42.000000,9.000000,1.000000,1.00000,1.000000

In [8]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Personal_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Emp_duration ','Age','No_of_credit_acc','female','married',
       'employed']]
X = sm.add_constant(X)
y = df[['Default']]

In [9]:
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

             feature         VIF
0              const  477.670587
1    Checking_amount    1.150100
2               Term    1.117594
3       Credit_score    1.168940
4           Car_loan   46.669305
5      Personal_loan   50.944167
6          Home_loan   11.598034
7     Education_loan   20.927025
8             Amount    1.031541
9      Saving_amount    1.192806
10     Emp_duration     1.115217
11               Age    1.345568
12  No_of_credit_acc    1.050759
13            female    2.223521
14           married    2.337169
15          employed    1.118671

Looks like Personal_loan has some high collinearity with the other variables. Let's drop it and check again

In [ ]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Emp_duration ','Age','No_of_credit_acc','female','married',
       'employed']]
X = sm.add_constant(X)
y = df[['Default']]

In [ ]:
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

Looks good now! We always will ignore the constant term when looking at the VIFs

In [10]:
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.148824
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      984
Method:                           MLE   Df Model:                           15
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7564
Time:                        23:00:14   Log-Likelihood:                -148.82
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                2.471e-187
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               40.7590      4.817      8.462      0.000      31.319      50.199
Checking_amount     -0.0051      0.001     -7.528      0.000      -0.006      -0.004
Term                 0.1704      0.052      3.272      0.001       0.068       0.272
Credit_score        -0.0110      0.002     -5.292      0.000      -0.015      -0.007
Car_loan            -0.6005      2.759     -0.218      0.828      -6.008       4.807
Personal_loan       -1.5541      2.759     -0.563      0.573      -6.961       3.853
Home_loan           -3.5684      2.846     -1.254      0.210      -9.147       2.010
Education_loan       0.6499      2.790      0.233      0.816      -4.818       6.118
Amount               0.0008      0.001      1.569      0.117      -0.000       0.002
Saving_amount       -0.0048      0.001     -7.922      0.000      -0.006      -0.004
Emp_duration         0.0029      0.004      0.657      0.511      -0.006       0.012
Age                 -0.6475      0.065    -10.013      0.000      -0.774      -0.521
No_of_credit_acc    -0.0969      0.101     -0.962      0.336      -0.294       0.100
female              -0.1951      0.510     -0.383      0.702      -1.194       0.804
married             -0.3351      0.492     -0.681      0.496      -1.300       0.629
employed            -0.5873      0.347     -1.690      0.091      -1.268       0.094
====================================================================================

It appears that female is not statistically significant. Let's drop it

In [11]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Emp_duration ','Age','No_of_credit_acc','married',
       'employed']]
X = sm.add_constant(X)
y = df[['Default']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.149073
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      986
Method:                           MLE   Df Model:                           13
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7560
Time:                        23:00:31   Log-Likelihood:                -149.07
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                4.438e-189
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               39.0433      3.862     10.109      0.000      31.473      46.613
Checking_amount     -0.0051      0.001     -7.541      0.000      -0.006      -0.004
Term                 0.1718      0.052      3.312      0.001       0.070       0.273
Credit_score        -0.0110      0.002     -5.285      0.000      -0.015      -0.007
Car_loan             0.9453      0.335      2.818      0.005       0.288       1.603
Home_loan           -2.0172      0.767     -2.631      0.009      -3.520      -0.515
Education_loan       2.1810      0.545      4.002      0.000       1.113       3.249
Amount               0.0008      0.001      1.577      0.115      -0.000       0.002
Saving_amount       -0.0048      0.001     -7.947      0.000      -0.006      -0.004
Emp_duration         0.0026      0.004      0.584      0.559      -0.006       0.011
Age                 -0.6460      0.064    -10.065      0.000      -0.772      -0.520
No_of_credit_acc    -0.0935      0.101     -0.930      0.352      -0.290       0.103
married             -0.1830      0.327     -0.560      0.576      -0.824       0.458
employed            -0.6032      0.347     -1.739      0.082      -1.283       0.077
====================================================================================

Married is insignificant. We will drop that one and refit

In [13]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Emp_duration ','Age','No_of_credit_acc',
       'employed']]
X = sm.add_constant(X)
y = df[['Default']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.149230
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      987
Method:                           MLE   Df Model:                           12
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7557
Time:                        23:01:18   Log-Likelihood:                -149.23
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                5.778e-190
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               38.9675      3.857     10.104      0.000      31.409      46.526
Checking_amount     -0.0051      0.001     -7.541      0.000      -0.006      -0.004
Term                 0.1748      0.052      3.383      0.001       0.074       0.276
Credit_score        -0.0110      0.002     -5.291      0.000      -0.015      -0.007
Car_loan             0.9428      0.335      2.814      0.005       0.286       1.599
Home_loan           -2.0029      0.764     -2.622      0.009      -3.500      -0.506
Education_loan       2.1928      0.546      4.014      0.000       1.122       3.263
Amount               0.0008      0.001      1.559      0.119      -0.000       0.002
Saving_amount       -0.0048      0.001     -7.953      0.000      -0.006      -0.004
Emp_duration         0.0020      0.004      0.470      0.638      -0.006       0.010
Age                 -0.6474      0.064    -10.088      0.000      -0.773      -0.522
No_of_credit_acc    -0.1009      0.100     -1.012      0.311      -0.296       0.094
employed            -0.5734      0.342     -1.675      0.094      -1.244       0.098
====================================================================================

Employment Duration is insignificant. Drop and refit

In [14]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Age','No_of_credit_acc',
       'employed']]
X = sm.add_constant(X)
y = df[['Default']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.149341
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      988
Method:                           MLE   Df Model:                           11
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7555
Time:                        23:01:23   Log-Likelihood:                -149.34
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                6.872e-191
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
const               38.8124      3.833     10.127      0.000      31.300      46.324
Checking_amount     -0.0051      0.001     -7.531      0.000      -0.006      -0.004
Term                 0.1750      0.052      3.390      0.001       0.074       0.276
Credit_score        -0.0109      0.002     -5.279      0.000      -0.015      -0.007
Car_loan             0.9436      0.335      2.814      0.005       0.286       1.601
Home_loan           -2.0175      0.762     -2.648      0.008      -3.511      -0.524
Education_loan       2.1774      0.543      4.011      0.000       1.113       3.241
Amount               0.0008      0.001      1.566      0.117      -0.000       0.002
Saving_amount       -0.0048      0.001     -7.944      0.000      -0.006      -0.004
Age                 -0.6438      0.063    -10.142      0.000      -0.768      -0.519
No_of_credit_acc    -0.0956      0.099     -0.966      0.334      -0.290       0.098
employed            -0.5974      0.339     -1.763      0.078      -1.261       0.067
====================================================================================

In [15]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Amount','Saving_amount','Age','employed']]
X = sm.add_constant(X)
y = df[['Default']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.149817
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      989
Method:                           MLE   Df Model:                           10
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7547
Time:                        23:01:34   Log-Likelihood:                -149.82
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                1.117e-191
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              38.7391      3.829     10.118      0.000      31.235      46.243
Checking_amount    -0.0051      0.001     -7.582      0.000      -0.006      -0.004
Term                0.1745      0.052      3.381      0.001       0.073       0.276
Credit_score       -0.0108      0.002     -5.270      0.000      -0.015      -0.007
Car_loan            0.9531      0.335      2.848      0.004       0.297       1.609
Home_loan          -2.0473      0.765     -2.676      0.007      -3.547      -0.548
Education_loan      2.1896      0.543      4.034      0.000       1.126       3.253
Amount              0.0008      0.001      1.561      0.119      -0.000       0.002
Saving_amount      -0.0049      0.001     -8.007      0.000      -0.006      -0.004
Age                -0.6450      0.063    -10.167      0.000      -0.769      -0.521
employed           -0.5568      0.335     -1.661      0.097      -1.214       0.100
===================================================================================

In [17]:
X = df[['Checking_amount','Term','Credit_score','Car_loan','Home_loan',
        'Education_loan','Saving_amount','Age','employed']]
X = sm.add_constant(X)
y = df[['Default']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.151061
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      990
Method:                           MLE   Df Model:                            9
Date:                Sat, 13 Nov 2021   Pseudo R-squ.:                  0.7527
Time:                        23:02:51   Log-Likelihood:                -151.06
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                3.688e-192
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              39.7330      3.811     10.427      0.000      32.264      47.202
Checking_amount    -0.0051      0.001     -7.595      0.000      -0.006      -0.004
Term                0.1710      0.052      3.319      0.001       0.070       0.272
Credit_score       -0.0108      0.002     -5.248      0.000      -0.015      -0.007
Car_loan            0.9027      0.331      2.730      0.006       0.255       1.551
Home_loan          -1.9285      0.763     -2.526      0.012      -3.425      -0.432
Education_loan      2.2121      0.549      4.033      0.000       1.137       3.287
Saving_amount      -0.0048      0.001     -7.931      0.000      -0.006      -0.004
Age                -0.6507      0.063    -10.291      0.000      -0.775      -0.527
employed           -0.5909      0.334     -1.770      0.077      -1.245       0.064
===================================================================================

Let's see if Jerry would get approved for a loan. He has 700 in checking, 25 month term, 600 credit score, a car loan, no home loan, an education loan, 2000 in savings, is 40, and unemployed.

In [18]:
jerry = [1,700,25,600,1,0,1,2000,40,0]
model.predict(jerry)

array([0.81140153])

Jane has 1000 in checking, 18 month term on loan, 800 credit score, has a car loan, home loan, and student loan,
3500 in savings, is 39, and is employed

In [ ]:
jane = [1,1000,18,800,1,1,1,3500,39,1] 
model.predict(jane)