In [2]:
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
#1. 
df = pd.read_csv('club.csv')

In [4]:
df.head(6)

,credit_policy,purpose,int_rate,installment,log_annual_income,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
5,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0,0

In [12]:
#1b
df['credit_card']=pd.get_dummies(df['purpose'])['credit_card']

In [13]:
pd.get_dummies(df['purpose'])

,all_other,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,0,0,1,0,0,0,0
1,0,1,0,0,0,0,0
2,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...
9573,1,0,0,0,0,0,0
9574,1,0,0,0,0,0,0
9575,0,0,1,0,0,0,0
9576,0,0,0,0,1,0,0
9577,0,0,1,0,0,0,0

In [6]:
df['revol_util']=df['revol_util'].fillna(df['revol_util'].median())

In [7]:
df.describe()

,credit_policy,int_rate,installment,log_annual_income,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_last_6mths,delinq_2yrs,pub_rec,not_fully_paid,credit_card
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054,0.131760
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676,0.338248
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000,1.000000

In [8]:
#1c
X = df[['credit_policy','int_rate','log_annual_income','dti','fico','days_with_cr_line',
        'revol_bal','revol_util','inq_last_6mths','delinq_2yrs','pub_rec','credit_card']]
X = sm.add_constant(X)
y = df[['not_fully_paid']]

In [9]:
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

              feature          VIF
0               const  1530.976200
1       credit_policy     1.655287
2            int_rate     2.213995
3   log_annual_income     1.350368
4                 dti     1.200379
5                fico     2.984950
6   days_with_cr_line     1.305199
7           revol_bal     1.358709
8          revol_util     1.734264
9      inq_last_6mths     1.457764
10        delinq_2yrs     1.139629
11            pub_rec     1.047867
12        credit_card     1.031148

In [10]:
#1D
X = df[['credit_policy','int_rate','log_annual_income','dti','fico','days_with_cr_line',
        'revol_bal','revol_util','inq_last_6mths','delinq_2yrs','pub_rec','credit_card']]
X = sm.add_constant(X)
y = df[['not_fully_paid']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.415601
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:         not_fully_paid   No. Observations:                 9578
Model:                          Logit   Df Residuals:                     9565
Method:                           MLE   Df Model:                           12
Date:                Tue, 16 Nov 2021   Pseudo R-squ.:                 0.05494
Time:                        21:17:43   Log-Likelihood:                -3980.6
converged:                       True   LL-Null:                       -4212.0
Covariance Type:            nonrobust   LLR p-value:                 1.815e-91
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 3.0114      1.110      2.713      0.007       0.836       5.187
credit_policy        -0.3020      0.084     -3.612      0.000      -0.466      -0.138
int_rate              9.0276      1.520      5.940      0.000       6.049      12.006
log_annual_income    -0.2561      0.054     -4.719      0.000      -0.362      -0.150
dti                  -0.0055      0.004     -1.226      0.220      -0.014       0.003
fico                 -0.0043      0.001     -3.280      0.001      -0.007      -0.002
days_with_cr_line  1.256e-05   1.32e-05      0.954      0.340   -1.32e-05    3.84e-05
revol_bal           4.06e-06   9.55e-07      4.254      0.000    2.19e-06    5.93e-06
revol_util            0.0013      0.001      1.006      0.314      -0.001       0.004
inq_last_6mths        0.0874      0.014      6.439      0.000       0.061       0.114
delinq_2yrs          -0.0885      0.055     -1.622      0.105      -0.196       0.018
pub_rec               0.2196      0.097      2.273      0.023       0.030       0.409
credit_card          -0.3958      0.096     -4.122      0.000      -0.584      -0.208
=====================================================================================

In [11]:
X = df[['credit_policy','int_rate','log_annual_income','dti','fico',
        'revol_bal','revol_util','inq_last_6mths','delinq_2yrs','pub_rec','credit_card']]
X = sm.add_constant(X)
y = df[['not_fully_paid']]
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.415648
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:         not_fully_paid   No. Observations:                 9578
Model:                          Logit   Df Residuals:                     9566
Method:                           MLE   Df Model:                           11
Date:                Tue, 16 Nov 2021   Pseudo R-squ.:                 0.05483
Time:                        21:17:44   Log-Likelihood:                -3981.1
converged:                       True   LL-Null:                       -4212.0
Covariance Type:            nonrobust   LLR p-value:                 4.252e-92
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 2.7102      1.065      2.546      0.011       0.624       4.797
credit_policy        -0.2987      0.084     -3.575      0.000      -0.462      -0.135
int_rate              9.0539      1.519      5.960      0.000       6.077      12.031
log_annual_income    -0.2437      0.053     -4.624      0.000      -0.347      -0.140
dti                  -0.0050      0.004     -1.124      0.261      -0.014       0.004
fico                 -0.0040      0.001     -3.143      0.002      -0.006      -0.002
revol_bal          4.186e-06   9.48e-07      4.415      0.000    2.33e-06    6.04e-06
revol_util            0.0013      0.001      1.080      0.280      -0.001       0.004
inq_last_6mths        0.0878      0.014      6.462      0.000       0.061       0.114
delinq_2yrs          -0.0792      0.053     -1.482      0.138      -0.184       0.026
pub_rec               0.2330      0.096      2.437      0.015       0.046       0.420
credit_card          -0.3953      0.096     -4.117      0.000      -0.583      -0.207
=====================================================================================